@model Product


    <form method="post">
        <div>
            <input asp-for="ProductName" />


        </div>

        <div>
            <input asp-for="UnitPrice" />
        </div>

        <div>
            <button class="btn btn-primary">Guncelle</button>
        </div>
    </form>
